@import "../../styles/abstract/functions";
@import "../../styles/base/variables";

.container {
    height: calcVW(1080);
    background-size: cover;
}

@media (max-width: 576px) {

    .container {
        margin-top: calcVWM(-1);
        max-height: initial !important;
        height: calcVWM(568);
    }
}