@import "../../styles/abstract/functions";

.altarin {
    font-weight: 500;
    font-size: calcVW(100);
    position: relative;
    line-height: calcVW(100);
    color: #FFFFFF;
    font-family: 'Beaufort-Medium';
    margin: calcVW(40) 0 calcVW(15) 0;
    height: calcVW(100);
}

.name {
    position: relative;
    font-weight: 700;
    font-size: calcVW(100);
    line-height: calcVW(138);
    color: #DEA963;
    text-transform: uppercase;
    font-family: 'Copperplate CC';
    height: calcVW(138);
}

.titleOrange {

    font-size: calcVW(28);
    font-weight: 700;
    line-height: calcVW(38);
    font-family: 'Copperplate CC';
    color: #FFFFFF;
}

.titleWhite {
    font-size: calcVW(28);
    font-weight: 700;
    line-height: calcVW(38);
    font-family: 'Copperplate CC';
    color: #DEA963;
}

.value {
    font-weight: 700;
    font-size: calcVW(16);
    line-height: calcVW(22);
    font-family: 'Copperplate CC';
    color: #8A7760;
}

@media (max-width: 768px) {
    .altarin {
        font-size: calcVWM(48);
        line-height: calcVWM(48);
        height: calcVWM(48);
        text-align: center;
        margin-top: auto;
    }

    .name {
        font-size: calcVWM(23);
        line-height: calcVWM(31);
        height: calcVWM(31);
        text-align: center;
    }
    .titleOrange {
        font-size: calcVWM(12);
        line-height: calcVWM(16);
    }
    
    .titleWhite {
        font-size: calcVWM(12);
        line-height: calcVWM(16);
    }
}