.altarin {
    font-weight: 500;
    font-size: 100px;
    position: relative;
    line-height: 100px;
    color: #FFFFFF;
    font-family: 'Beaufort-Medium';
    margin: 40px 0 15px 0;
    height: 100px;
}

.name {
    position: relative;
    font-weight: 700;
    font-size: 34px;
    line-height: 46.92px;
    color: #DEA963;
    text-transform: uppercase;
    font-family: 'Copperplate CC';
    margin: 15px 0;
    height: 47px;
}

.titleOrange {

    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    font-family: 'Copperplate CC';
    color: #DEA963;
}

.titleWhite {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    font-family: 'Copperplate CC';
    color: #FFFFFF;
}

.value {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Copperplate CC';
    color: #8A7760;
}