@import "../../styles/abstract/functions";
@import "../../styles/base/variables";

.altarin {
    position: relative;
    @include header1;
    color: $white-400;
    margin: calcVW(40) 0 calcVW(15) 0;
    height: calcVW(100);
}

.name {
    position: relative;
    line-height: calcVW(138);
    color: $gold-400;
    text-transform: uppercase;
    height: calcVW(138);
    @include header1;
    font-weight: 700;
}

.titleOrange {
    @include header1;
    color: $white-400;
}

.titleWhite {
    @include header1;
    color: $gold-400;
}

.value {
    @include bold;
    color: $beige-300;
}

@media (max-width: 576px) {
    .altarin {
        @include header1-mobile;
        height: calcVWM(48);
        text-align: center;
        margin-top: auto;
    }

    .name {
        font-size: calcVWM(23);
        line-height: calcVWM(31);
        height: calcVWM(31);
        text-align: center;
    }
    .titleOrange {
        @include body-mobile;
    }
    
    .titleWhite {
        @include body-mobile;
    }

    .value {
        @include bold-mobile;
    }
}