@import "../../styles/abstract/functions";

.container {
    width: 100%;
    height: 100%;
    padding: calcVW(80);
    display: flex;
    flex-direction: column;

    .playButton {
        position: absolute;
        width: calcVW(176);
        height: calcVW(176);
        display: flex;
        justify-content: center;
        align-items: center;
        left: calc(50% - calcVW(88));
        top: calc(50% - calcVW(88));

        .mainCircle {
            width: calcVW(144);
            height: calcVW(144);
        }

        .partCircle1 {
            position: absolute;
            left: 0;
            top: 0;
            width: calcVW(178);
            height: calcVW(178);
        }

        .partCircle2 {
            position: absolute;
            left: calcVW(8);
            top: calcVW(8);
            width: calcVW(161);
            height: calcVW(161);
        }
    }

    .carousel {
        margin-top: auto;
        margin-bottom: calcVW(140);
        width: 100%;
        display: flex;
        column-gap: calcVW(100);
        align-items: center;

        .title {
            font-weight: 500;
            font-size: calcVW(30);
            line-height: calcVW(30);
            font-family: 'Beaufort-Medium';
            color: #DEA963;
            position: relative;
            text-transform: uppercase;
            text-wrap: nowrap;
        }

        .carouselContainer {
            position: relative;
            width: calcVW(1433);

            .swiperElement {
                cursor: pointer;

                img {
                    height: calcVW(40);
                    width: auto;
                    margin: 0 auto;
                    outline: none !important;
                }
            }

            :global(.slick-slide) {
                div {
                    outline: none !important;
                }
            }
        }
    }

    @media (max-width: 576px) {
        padding: calcVWM(16);

        .playButton {
            width: calcVWM(92);
            height: calcVWM(92);
            left: calc(50% - calcVWM(44));
            top: calc(50% - calcVWM(80));

            .mainCircle {
                width: calcVWM(77);
                height: calcVWM(77);
            }

            .partCircle1 {
                width: calcVWM(94);
                height: calcVWM(94);
            }

            .partCircle2 {
                left: calcVWM(4);
                top: calcVWM(4);
                width: calcVWM(85);
                height: calcVWM(85);
            }
        }

        .carousel {
            flex-direction: column;

            .carouselContainer {
                width: calcVWM(235);
                .swiperElement {
                    img {
                        height: calcVWM(22);
                    }
                }
            }
            .title { 
                font-weight: 500;
                line-height: calcVWM(18);
                font-size: calcVWM(18);
                margin-bottom: calcVWM(16);
            }
        }
    }
}