@import "../../styles/abstract/functions";

.button {
    padding: calcVW(12) calcVW(24);
    border: calcVW(2) solid #DEA963;
    border-radius: calcVW(50);
    position: relative;
    cursor: pointer;

    .icon {
        position: absolute;
        width: calcVW(16);
        height: calcVW(16);

        &:nth-of-type(1) {
            transform: rotate(0deg);
            left: calcVW(-2);
            top: calcVW(-2);
        }

        &:nth-of-type(2) {
            transform: rotate(90deg);
            right: calcVW(-2);
            top: calcVW(-2);
        }

        &:nth-of-type(3) {
            transform: rotate(180deg);
            right: calcVW(-2);
            bottom: calcVW(-2);
        }

        &:nth-of-type(4) {
            transform: rotate(270deg);
            left: calcVW(-2);
            bottom: calcVW(-2);
        }
    }
}