@import "../../styles/abstract/functions";

.button {
    padding: calcVW(12) calcVW(24);
    border: calcVW(2) solid #DEA963;
    border-radius: calcVW(50);
    position: relative;
    cursor: pointer;

    .icon {
        position: absolute;
        width: calcVW(16);
        height: calcVW(16);

        &:nth-of-type(1) {
            transform: rotate(0deg);
            left: calcVW(-2);
            top: calcVW(-2);
        }

        &:nth-of-type(2) {
            transform: rotate(90deg);
            right: calcVW(-2);
            top: calcVW(-2);
        }

        &:nth-of-type(3) {
            transform: rotate(180deg);
            right: calcVW(-2);
            bottom: calcVW(-2);
        }

        &:nth-of-type(4) {
            transform: rotate(270deg);
            left: calcVW(-2);
            bottom: calcVW(-2);
        }
    }

    &:hover {
        border: calcVW(2) solid #FFFFFF;
        box-shadow: inset 0px 0 calcVW(30) #FFFFFF;

        .icon {
            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(235deg) brightness(107%) contrast(101%);
        }
    }

    @media (max-width: 576px) {
        padding: calcVWM(12) calcVWM(24);
        border: calcVWM(2) solid #DEA963;
        border-radius: calcVWM(50);

        .icon {
            width: calcVWM(20);
            height: calcVWM(20);
    
            &:nth-of-type(1) {
                left: calcVWM(-2);
                top: calcVWM(-2);
            }
    
            &:nth-of-type(2) {
                right: calcVWM(-2);
                top: calcVWM(-2);
            }
    
            &:nth-of-type(3) {
                right: calcVWM(-2);
                bottom: calcVWM(-2);
            }
    
            &:nth-of-type(4) {
                left: calcVWM(-2);
                bottom: calcVWM(-2);
            }
        }
    
        &:hover {
            border: calcVWM(2) solid #FFFFFF;
            box-shadow: inset 0px 0 calcVWM(30) #FFFFFF;
        }
    }
}