@import "../../styles/base/variables";

.container {
    // height: 100vh;
    // overflow-y: scroll;
    // scroll-behavior: smooth;

    // Styling the scrollbar (for browsers that support this)
    overflow: hidden;
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $black-100;
    }

    &::-webkit-scrollbar-thumb {
        background: $black-200;

        &:hover {
            background: $black-300;
        }
    }
}