.container {
    // height: 100vh;
    // overflow-y: scroll;
    // scroll-behavior: smooth;

    // Styling the scrollbar (for browsers that support this)
    overflow: hidden;
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;

        &:hover {
            background: #555;
        }
    }
}