@import "../../styles/base/variables";

.container {
    overflow: hidden;
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $black-100;
    }

    &::-webkit-scrollbar-thumb {
        background: $black-200;

        &:hover {
            background: $black-300;
        }
    }
}