@import "../../styles/abstract/functions";

.bgImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: 576px) {
        display: none;
    }
}

@media (max-width: 576px) {
    .bgImage {
        display: none;
    }
    .bgMobile {
        display: block;
        width: 100%;
        height: 100%;
        max-height: calcVWM(568);
        object-fit: cover;
    }
}