@import "../../styles/abstract/functions";
@import "../../styles/base/variables";

.container {
    display: flex;
    flex-direction: column;
    row-gap: calcVW(25);
    align-items: flex-end;

    .navElement {
        transition: all 0.3s;
        display: flex;
        color: $brown-400;
        @include bold;
        column-gap: calcVW(25);
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;

        .round {
            transition: all 0.3s;
            width: calcVW(16);
            height: calcVW(16);
            border: calcVW(2) solid $brown-400;
            border-radius: 50%;
        }

        &:hover {
            transition: all 0.3s;
            color: $beige-400;

            .round {
                background-image: radial-gradient($beige-400 0%, $beige-400 100%);
                box-shadow: 0 calcVW(4) calcVW(16) calcVW(-2) $beige-200;
            }
        }
    }

    .active {
        transition: all 0.3s;
        color: $beige-400;

        .round {
            transition: all 0.3s;
            background-image: radial-gradient($beige-400 0%, $beige-400 100%);
            box-shadow: 0 calcVW(4) calcVW(16) calcVW(-2) $beige-200;
        }
    }
}


.menu {
    display: none;
}

@media (max-width: 576px) {
    .container {
        display: none;
    }

    .menu {
        transition: 0.7s;
        position: absolute;
        width: 100%;
        height: calcVWM(80);
        background: linear-gradient(to bottom, $black-400, transparent);
        top: 0;
        left: 0;
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .menuHeader {
            display: flex;
            width: 100%;
            height: calcVWM(80);

            .menuOpenIcon {
                transition: 0.7s;
                display: block;
                margin-top: calcVWM(28);
                margin-right: calcVWM(16);
                margin-left: auto;
                width: calcVWM(24);
                height: calcVWM(24);
            }

            .logo {
                width: calcVWM(217);
                height: calcVWM(68);
                object-fit: cover;
                margin-left: calc(50% - calcVWM(108.5));
            }
        }
    }

    .menuOpen {
        transition: 0.7s;
        position: fixed;
        height: 100vh;
        background: $black-400;
        z-index: 999;
        .navElement {
            color: $brown-400;
            @include bold-mobile;
            padding: calcVWM(16) 0;
            text-align: center;
        }
        .active {
            border:  2px solid $gold-400;
            border-right: 0;
            border-left: 0;
        }
    }
}