@import "../../styles/abstract/functions";

.container {
    width: 100%;
    height: 100%;
    padding: calcVW(80) calcVW(80) 0 calcVW(80);
    display: flex;
    flex-direction: column;

    .bgImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .titleBlock {
        position: relative;
        transform: translate(0%, 0%);
        display: flex;
        font-weight: 500;
        font-size: calcVW(48);
        line-height: calcVW(48);
        font-family: 'Beaufort-Medium';
        color: #DEA963;
        column-gap: calcVW(30);
        margin: 0 auto;
        max-width: max-content;
    }

    .subTitle {
        position: relative;
        transform: translate(-50%, -50%);
        font-size: calcVW(22);
        line-height: calcVW(30);
        font-family: 'Copperplate CC';
        font-weight: 700;
        color: #EDD1AB;
        max-width: calcVW(590);
        margin: 0 auto;
        margin-top: calcVW(20);
        text-align: center;
        margin-bottom: calcVW(60);
    }

    .mainBlock {
        height: calcVW(199);
        display: flex;
        width: 100%;

        &:nth-last-child(4) {
            justify-content: center;
        }

        &:nth-last-child(3) {

            justify-content: flex-end;
        }

        &:nth-last-child(5) {
            margin-top: calcVW(40);
        }

        .infoBlockContainer {
            height: max-content;
            width: max-content;
            overflow: hidden;

            .infoBlock {
                margin: calcVW(2);
                border-radius: calcVW(196) 0 0 calcVW(196);
                border-left: calcVW(2) solid #DEA963;
                border-right: 0;
                display: flex;
                align-items: center;
                position: relative;
                max-width: calcVW(555);
                background: linear-gradient(to right,
                        rgba(16, 24, 37, 0.9) 0%,
                        rgba(16, 24, 37, 0.4) 60%,
                        rgba(16, 24, 37, 0) 90%);

                .round {
                    width: calcVW(105);
                    height: calcVW(105);
                    border: calcVW(2) solid #DEA963;
                    border-radius: 50%;
                    margin: calcVW(45);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: calcVW(48);
                    line-height: calcVW(48);
                    font-weight: 500;
                    font-family: 'Beaufort-Medium';
                    color: #FFFFFF;
                }

                .textBlock {
                    max-width: calcVW(348);

                    .title {
                        display: flex;
                        column-gap: calcVW(10);
                    }

                    .description {
                        font-size: calcVW(16);
                        font-weight: 500;
                        line-height: calcVW(22);
                        font-family: 'CopperplateEF';
                        color: #EDD1AB;
                        text-transform: uppercase;
                    }
                }

                .line {
                    right: 0;
                    position: absolute;
                    height: calcVW(2);
                    width: calcVW(450);
                    background: linear-gradient(to right,
                            rgba(222, 169, 99, 0.9) 0%,
                            /* 90% opacity at 0% of the width */
                            rgba(222, 169, 99, 0.4) 40%,
                            /* 40% opacity at 40% of the width */
                            rgba(222, 169, 99, 0) 100%
                            /* 0% opacity at 100% of the width */
                        );
                    z-index: 10;
                }

                .lineTop {
                    top: calcVW(-2);
                }

                .lineBottom {
                    bottom: calcVW(-2);
                }

                .leftBorder {
                    position: absolute;
                    left: calcVW(-2);
                    top: calcVW(-2);
                    height: calc(100% + calcVW(4));
                    width: calcVW(100);
                    border: calcVW(2) solid #DEA963;
                    border-right: 0;
                    z-index: 100;
                    border-radius: calcVW(98) 0 0 calcVW(98);
                }
            }
        }
    }

    .bottomContainer {
        position: relative;
        display: flex;
        margin-top: calcVW(50);

        .decorations {
            width: calcVW(89);
            height: calcVW(90);
        }

        .carouselContainer {
            width: calcVW(805);
            margin-left: calcVW(30);
            font-size: calcVW(22);
            line-height: calcVW(30);
            font-weight: 700;
            font-family: 'Copperplate CC';
            color: #EDD1AB;

            .swiperElement {
                height: 100%;
                display: flex !important;
                align-items: center;
            }

            .swiperElementText {
                display: flex;
                width: 100%;
                align-items: center;
            }

            :global(.slick-slide) {
                height: calcVW(90);

                :global(div) {
                    height: 100%;
                }
            }

            :global(.slick-next) {
                height: calcVW(20);
                width: calcVW(20);
            }
        }
    }

    .mobileSlider {
        display: none;
    }

    @media (max-width: 576px) {
        .mobileSlider {
            display: block;
            margin-top: auto;
            margin-bottom: calcVWM(56);
        }

        .desktop {
            display: none;
        }

        .mainBlock {
            height: calcVWM(103);

            .infoBlockContainer {
                height: calcVWM(103);

                .infoBlock {
                    height: calcVWM(103);
                    border-radius: calcVWM(50) 0 0 calcVWM(50);
                    border-left: calcVWM(2) solid #DEA963;
                    max-width: calcVWM(288);
                    width: calcVWM(288);

                    .leftBorder {
                        left: calcVWM(-2);
                        top: calcVWM(-2);
                        height: calc(100% + calcVWM(4));
                        width: calcVWM(100);
                        border: calcVWM(2) solid #DEA963;
                        border-radius: calcVWM(98) 0 0 calcVWM(98);
                        border-right: 0;
                    }

                    .line {
                        height: calcVWM(2);
                        width: calcVWM(248);
                        width: calcVWM(248);
                        border-top-left-radius: calcVWM(20);
                    }

                    .lineTop {
                        top: calcVWM(-0.2);
                    }

                    .lineBottom {
                        bottom: calcVWM(-0.2);
                    }

                    .round {
                        min-width: calcVWM(56);
                        height: calcVWM(56);
                        margin: calcVWM(23);
                        border: calcVWM(2) solid #DEA963;
                        font-weight: 500;
                        font-size: calcVWM(34);
                        line-height: calcVWM(34);
                        margin-right: calcVWM(16);

                    }

                    .textBlock {
                        max-width: initial;

                        .title {
                            column-gap: calcVWM(8);
                            height: calcVWM(16);
                            margin-bottom: calcVWM(4);
                        }

                        .description {
                            font-size: calcVWM(9);
                            line-height: calcVWM(12);
                        }
                    }
                }
            }
        }

        :global(.slick-prev) {
            position: absolute;
            top: calcVWM(140);
            left: calcVWM(116);
            width: calcVWM(22);
            height: calcVWM(22);
        }

        :global(.slick-next) {
            position: absolute;
            top: calcVWM(140);
            left: calcVWM(176);
            width: calcVWM(22);
            height: calcVWM(22);
        }

        .carouselContainer {
            display: none;
        }
    }
}