@import "../../styles/abstract/functions";
@import "../../styles/base/variables";

.container {
    width: 100%;
    height: 100%;
    padding: calcVW(60) 0 0 calcVW(80);

    .bgImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .logo {
        width: calcVW(261);
        height: calcVW(177);
        object-fit: cover;
        position: relative;
    }

    .line {
        display: none;
    }

    .mainButtons {
        display: flex;
        column-gap: calcVW(24);
        row-gap: calcVW(16);
        flex-direction: column;

        .presale {
            position: relative;
            width: calcVW(308);
            overflow: hidden;

            button {
                width: 100%;
                background-color: $black-400;
                color: $white-400;
                @include button;
            }
        }
    }

    .buttonContainer {
        display: flex;
        column-gap: calcVW(30);
        margin-top: calcVW(130);
    }

    .twoButtonMain {
        overflow: hidden;
        position: relative;

        .twoButton {
            display: flex;
            width: max-content;
            background-color: $black-200;
            border: calcVW(2) solid $brown-400;
            border-radius: calcVW(50);
            height: 100%;

            button {
                color: $brown-400;
                @include bold;
                border: none;
                background: transparent;
                padding: calcVW(12) calcVW(24);

                &:hover {
                    color: $gold-400;
                    box-shadow: none;
                }
            }

            :global(.active) {
                margin: calcVW(-2) calcVW(-2) calcVW(-2) calcVW(-2);
                border: calcVW(2) solid $gold-400;
                color: $gold-400;

                &:hover {
                    margin: calcVW(-2) calcVW(-2) calcVW(-2) calcVW(-2);
                    border: calcVW(2) solid $gold-400;
                    box-shadow: none;
                }
            }
        }

        .copyBlock {
            color: $brown-400;
            @include bold;
            display: flex;
            align-items: center;
            column-gap: calcVW(20);
            padding-right: calcVW(30);
            height: calcVW(50);

            .copy {
                margin: calcVW(-2) 0 calcVW(-2) calcVW(-2);
                border: calcVW(2) solid $brown-400;
                color: $brown-400;
                width: calcVW(46);
                height: calcVW(46);
                border-radius: calcVW(46);
                position: relative;
                cursor: pointer;

                .square {
                    width: calcVW(14);
                    height: calcVW(14);
                    border: calcVW(2) solid $gold-400;
                    border-radius: calcVW(2);
                    position: absolute;
                    top: calcVW(12);
                    left: calcVW(12);
                }

                .square:last-of-type {
                    top: calcVW(17);
                    left: calcVW(17);
                }
            }
        }
    }

    .infoBlock {
        display: flex;
        flex-direction: column;
        width: max-content;
    }

    .description {
        position: relative;
        @include bold;
        color: $beige-400;
        margin: calcVW(20) 0;
        overflow: hidden;
    }

    @media (max-width: 576px) {
        padding: calcVWM(16) calcVWM(16) calcVWM(32) calcVWM(16);

        .logo {
            width: calcVWM(126);
            height: calcVWM(80);
            margin: calcVWM(-16) 0 0 calcVWM(-16);
        }

        .line {
            display: block;
            width: 100%;
            border-color: $gold-400;
            background: $gold-400;
            position: relative;
            margin-left: 0;
            height: calcVWM(2);
        }

        .infoBlock {
            width: 100%;
            height: 100%;
            row-gap: calcVWM(16);
        }

        .description {
            @include bold-mobile;
            height: calcVWM(30);
            text-align: center;
        }

        .mainButtons {
            height: calcVWM(60);

            .documentation {
                display: none
            }

            .presale {
                width: 100%;
                height: calcVWM(60);

                button {
                    @include button-mobile;
                    height: 100%;
                }
            }
        }

        .buttonContainer {
            display: none;
        }
    }
}