@import "../../styles/abstract/functions";

.container {
    width: 100%;
    height: 100%;
    padding: calcVW(60) 0 0 calcVW(80);

    .bgImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .logo {
        width: calcVW(261);
        height: calcVW(177);
        object-fit: cover;
        position: relative;
    }

    .line {
        display: none;
    }

    .mainButtons {
        display: flex;
        column-gap: calcVW(24);
        align-items: center;

        .presale {
            position: relative;
            width: calcVW(308);
            overflow: hidden;

            button {
                width: 100%;
                background-color: #101825;
                color: #FFFFFF;
                font-size: calcVW(28);
                font-family: 'Beaufort-Medium';
                font-weight: 500;
            }
        }

        .documentation {
            overflow: hidden;
            display: flex;
            align-items: center;

            button {
                box-shadow: none;
                border: 0;
                background-color: transparent;
                font-size: calcVW(26);
                line-height: calcVW(26);
                font-weight: 500;
                text-decoration: underline;
                color: #DEA963;
            }

            &:hover {
                button {
                    color: #FFFFFF;
                }
            }
        }
    }

    .buttonContainer {
        display: flex;
        column-gap: calcVW(30);
        margin-top: calcVW(130);
    }

    .twoButtonMain {
        overflow: hidden;
        position: relative;

        .twoButton {
            display: flex;
            width: max-content;
            background-color: #10182550;
            border: calcVW(2) solid #7C674B;
            border-radius: calcVW(50);
            height: 100%;

            button {
                color: #7C674B;
                font-size: calcVW(16);
                font-family: 'Copperplate CC';
                font-weight: 700;
                border: none;
                background: transparent;
                padding: calcVW(12) calcVW(24);

                &:hover {
                    margin: calcVW(-2) calcVW(-2) calcVW(-2) calcVW(-2);
                    border: calcVW(2) solid #FFFFFF;
                }
            }

            :global(.active) {
                margin: calcVW(-2) calcVW(-2) calcVW(-2) calcVW(-2);
                border: calcVW(2) solid #DEA963;
                color: #DEA963;

                &:hover {
                    margin: calcVW(-2) calcVW(-2) calcVW(-2) calcVW(-2);
                    border: calcVW(2) solid #DEA963;
                    box-shadow: none;
                }
            }
        }

        .copyBlock {
            color: #7C674B;
            font-size: calcVW(16);
            font-family: 'Copperplate CC';
            font-weight: 700;
            display: flex;
            align-items: center;
            column-gap: calcVW(20);
            padding-right: calcVW(30);
            height: calcVW(50);

            .copy {
                margin: calcVW(-2) 0 calcVW(-2) calcVW(-2);
                border: calcVW(2) solid #7C674B;
                color: #7C674B;
                width: calcVW(46);
                height: calcVW(46);
                border-radius: calcVW(46);
                position: relative;
                cursor: pointer;

                .square {
                    width: calcVW(14);
                    height: calcVW(14);
                    border: calcVW(2) solid #DEA963;
                    border-radius: calcVW(2);
                    position: absolute;
                    top: calcVW(12);
                    left: calcVW(12);
                }

                .square:last-of-type {
                    top: calcVW(17);
                    left: calcVW(17);
                }
            }
        }
    }

    .infoBlock {
        display: flex;
        flex-direction: column;
        width: max-content;
    }

    .description {
        position: relative;
        font-weight: 700;
        font-family: 'Copperplate CC';
        font-size: calcVW(22);
        line-height: calcVW(30.36);
        color: #EDD1AB;
        margin: calcVW(20) 0;
        overflow: hidden;
    }

    @media (max-width: 576px) {
        padding: calcVWM(16) calcVWM(16) calcVWM(32) calcVWM(16);

        .logo {
            width: calcVWM(126);
            height: calcVWM(80);
            margin: calcVWM(-16) 0 0 calcVWM(-16);
        }

        .line {
            display: block;
            width: 100%;
            border-color: #DEA963;
            background: #DEA963;
            position: relative;
            margin-left: 0;
            height: calcVWM(2);
        }

        .infoBlock {
            width: 100%;
            height: 100%;
            row-gap: calcVWM(16);
        }

        .description {
            font-size: calcVWM(11);
            line-height: calcVWM(15);
            height: calcVWM(30);
            text-align: center;
        }

        .mainButtons {
            height: calcVWM(60);

            .documentation {
                display: none
            }

            .presale {
                width: 100%;
                height: calcVWM(60);

                button {
                    font-size: calcVWM(26);
                    line-height: calcVWM(26);
                    height: 100%;
                }
            }
        }

        .buttonContainer {
            display: none;
        }
    }
}