@import "../../styles/abstract/functions";
@import "../../styles/base/variables";

.container {
    width: 100%;
    height: 100%;
    padding: calcVW(80);

    .mainTitleValue {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .value {
            @include header4;
            color: $white-400;
        }

        .title {
            @include subtitle;
            color: $beige-400;
        }
    }

    .titleBlock {
        position: relative;
        transform: translate(0%, 0%);
        display: flex;
        @include header2;
        color: $gold-400;
    }

    .infoBlock {

        .content {
            display: flex;
            flex-direction: column;
            row-gap: calcVW(50);
            margin-top: calcVW(140);
        }

        .eachBlock {
            display: flex;
            flex-direction: column;
            row-gap: calcVW(10);

            .info {
                display: flex;
                align-items: center;
            }


            .lineBlock {
                display: flex;
                align-items: center;
                height: calcVW(8);

                .dot {
                    width: calcVW(8);
                    height: calcVW(8);
                    border-radius: calcVW(4);
                    background: $beige-400;
                }

                .line {
                    height: calcVW(3);
                    background: linear-gradient(to right, $brown-400, $beige-400);
                }
            }

            .percent {
                @include header4;
                color: $white-400;
            }

            .title {
                @include bold;
                color: $beige-400;
            }

            .value {
                height: calcVW(22);
            }

        }
    }

    @media (max-width: 576px) {
        .motionSvg {
            margin-left: calcVWM(5);
        }

        .titleBlock {
            width: max-content;
            margin: 0 auto;
            margin-top: calcVWM(70);
            @include header2-mobile;
        }

        .content {
            margin-bottom: calcVWM(16);
            row-gap: calcVWM(8) !important;
        }

        .infoBlock {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;

            .eachBlock {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .lineBlock {
                    display: none;
                }
            }

            .info {
                .title {
                    @include bold-mobile;
                    width: calcVWM(105);
                    text-align: end;
                }
            }

            .percent {
                order: 1;
                font-size: calcVWM(14) !important;
                line-height: calcVWM(19) !important;
                width: calcVWM(35);
                margin: 0 calcVWM(24) !important;
                text-align: center;
            }

            .value {
                width: calcVWM(105);
            }
        }

        .mainTitleValue {
            .title {
                @include subtitle-mobile;
            }

            .value {
                @include header4-mobile;
            }
        }
    }
}