@import "../../styles/abstract/functions";

.container {
    width: 100%;
    height: 100%;
    padding: calcVW(80);

    .mainTitleValue {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .value {
            font-size: calcVW(28);
            font-weight: 700;
            line-height: calcVW(38);
            font-family: 'Copperplate CC';
            color: #FFFFFF;
        }

        .title {
            font-size: calcVW(22);
            font-weight: 700;
            line-height: calcVW(30);
            font-family: 'Copperplate CC';
            color: #DAB993;
        }
    }

    .titleBlock {
        position: relative;
        transform: translate(0%, 0%);
        display: flex;
        font-weight: 500;
        font-size: calcVW(48);
        line-height: calcVW(48);
        font-family: 'Beaufort-Medium';
        color: #DEA963;
    }

    .infoBlock {

        .content {
            display: flex;
            flex-direction: column;
            row-gap: calcVW(50);
            margin-top: calcVW(140);
        }

        .eachBlock {
            display: flex;
            flex-direction: column;
            row-gap: calcVW(10);

            .info {
                display: flex;
                align-items: center;
            }


            .lineBlock {
                display: flex;
                align-items: center;
                height: calcVW(8);

                .dot {
                    width: calcVW(8);
                    height: calcVW(8);
                    border-radius: calcVW(4);
                    background: #DAB993;
                }

                .line {
                    height: calcVW(3);
                    background: linear-gradient(to right, #5E5040, #DAB993);
                }
            }

            .percent {
                font-weight: 700;
                font-size: calcVW(28);
                line-height: calcVW(38);
                font-family: 'Copperplate CC';
                color: #FFFFFF;
            }

            .title {
                font-weight: 700;
                font-size: calcVW(16);
                line-height: calcVW(22);
                font-family: 'Copperplate CC';
                color: #DAB993;
            }

            .value {
                height: calcVW(22);
            }

        }
    }
    @media (max-width: 576px) {
        .motionSvg {
            margin-left: calcVWM(5);
        }
    }
}