@import "../../styles/abstract/functions";
@import "../../styles/base/variables";

.container {
    width: 100%;
    height: 100%;
    padding: calcVW(80);

    .mainTitleValue {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .value {
            font-size: calcVW(28);
            font-weight: 700;
            line-height: calcVW(38);
            font-family: 'Copperplate CC';
            color: $white-400;
        }

        .title {
            font-size: calcVW(22);
            font-weight: 700;
            line-height: calcVW(30);
            font-family: 'Copperplate CC';
            color: $beige-400;
        }
    }

    .titleBlock {
        position: relative;
        transform: translate(0%, 0%);
        display: flex;
        font-weight: 500;
        font-size: calcVW(48);
        line-height: calcVW(48);
        font-family: 'Beaufort-Medium';
        color: $gold-400;
    }

    .infoBlock {

        .content {
            display: flex;
            flex-direction: column;
            row-gap: calcVW(50);
            margin-top: calcVW(140);
        }

        .eachBlock {
            display: flex;
            flex-direction: column;
            row-gap: calcVW(10);

            .info {
                display: flex;
                align-items: center;
            }


            .lineBlock {
                display: flex;
                align-items: center;
                height: calcVW(8);

                .dot {
                    width: calcVW(8);
                    height: calcVW(8);
                    border-radius: calcVW(4);
                    background: $beige-400;
                }

                .line {
                    height: calcVW(3);
                    background: linear-gradient(to right, $brown-400, $beige-400);
                }
            }

            .percent {
                font-weight: 700;
                font-size: calcVW(28);
                line-height: calcVW(38);
                font-family: 'Copperplate CC';
                color: $white-400;
            }

            .title {
                font-weight: 700;
                font-size: calcVW(16);
                line-height: calcVW(22);
                font-family: 'Copperplate CC';
                color: $beige-400;
            }

            .value {
                height: calcVW(22);
            }

        }
    }

    @media (max-width: 576px) {
        .motionSvg {
            margin-left: calcVWM(5);
        }

        .titleBlock {
            width: max-content;
            margin: 0 auto;
            margin-top: calcVWM(70);
            font-size: calcVWM(34);
            line-height: calcVWM(34);
            font-weight: 500;
            font-family: 'Beaufort-Medium';
        }

        .content {
            margin-bottom: calcVWM(16);
            row-gap: calcVWM(8) !important;
        }
        .infoBlock {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;

            .eachBlock {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .lineBlock {
                    display: none;
                }
            }

            .info {
                .title {
                    font-size: calcVWM(11) !important;
                    line-height: calcVWM(15) !important;
                    width: calcVWM(105);
                    text-align: end;
                }
            }

            .percent {
                order: 1;
                font-size: calcVWM(14) !important;
                line-height: calcVWM(19) !important;
                width: calcVWM(35);
                margin: 0 calcVWM(24) !important;
                text-align: center;
            }

            .value {
                width: calcVWM(105);
            }
        }
        .mainTitleValue {
            .title{

                font-size: calcVWM(9);   
                line-height: calcVWM(12.5);   
            }
            .value {
                font-size: calcVWM(12);
                line-height: calcVWM(16.5);
            }
        }
    }
}