@import "../../styles/abstract/functions";
@import "../../styles/base/variables";

.info {
    @include body;
    text-transform: uppercase;
    color: $black-400;
    margin-top: calcVW(30);

    .dot {
        min-width: calcVW(5);
        min-height: calcVW(5);
        max-width: calcVW(5);
        max-height: calcVW(5);
        border-radius: 50%;
        background: $black-400;
        margin-top: calcVW(8);
    }

    .text {
        text-wrap: wrap;
        max-width: calcVW(260);
        min-width: calcVW(260);
        @include body;
    }

    div {
        display: flex;
        column-gap: calcVW(5);
    }

    @media (max-width: 576px) {
        width: calcVWM(288);
        padding: calcVWM(24);
        padding-top: calcVWM(100);
        border-radius: calcVWM(40) 0 0 calcVWM(40);
        margin-top: calcVWM(-87);
        margin-left: calcVWM(2) !important;
        background: linear-gradient(to right, $white-300, transparent);

        .text {
            @include body-mobile;
            max-width: calcVWM(240);
            min-width: calcVWM(240);
        }

        div {
            column-gap: calcVWM(5);
        }

        .dot {
            min-width: calcVWM(5);
            min-height: calcVWM(5);
            max-width: calcVWM(5);
            max-height: calcVWM(5);
            margin-top: calcVWM(6);
        }
    }
}