@import "../../styles/abstract/functions";
@import "../../styles/base/variables";

.info {
    @include body;
    text-transform: uppercase;
    color: $black-400;
    margin-top: calcVW(30);

    .dot {
        width: calcVW(5);
        height: calcVW(5);
        border-radius: 50%;
        background: $black-400;
        margin-top: calcVW(8);
    }

    .text {
        text-wrap: wrap;
        max-width: calcVW(240);
    }

    div {
        display: flex;
        column-gap: calcVW(5);

    }
}