
.titleBlock {
    position: relative;
    transform: translate(0%, 0%);
    display: flex;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    font-family: 'Beaufort-Medium';
    color: #DEA963;
    column-gap: 30px;
    margin: 0 auto;
    max-width: max-content;
}

.description {
    position: relative;
    transform: translate(-50%, -50%);
    font-size: 22px;
    line-height: 30px;
    font-family: 'Copperplate CC';
    font-weight: 700;
    color: #EDD1AB;
    max-width: 590px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}