@import "../../styles/abstract/functions";
@import "../../styles/base/variables";

.titleBlock {
    position: relative;
    transform: translate(0%, 0%);
    display: flex;
    @include header2;
    color: $gold-400;
    column-gap: calcVW(30);
    margin: 0 auto;
    max-width: max-content;
    text-transform: uppercase;
    z-index: 2;
}

.description {
    position: relative;
    transform: translate(-50%, -50%);
    @include subtitle;
    color: $beige-400;
    max-width: calcVW(590);
    margin: 0 auto;
    margin-top: calcVW(20);
    text-align: center;
    z-index: 2;
}

@media (max-width: 576px) {
    .titleBlock {
        @include header2-mobile;
        text-align: center;
        margin-top: calcVWM(80);
        margin-bottom: calcVWM(16);

        .isMobile {
            display: none !important;
        }
    }

    .description {
        @include subtitle-mobile;
        max-width: calcVWM(206);
    }

    .descriptionBottom {
        margin-top: calcVWM(170);
    }
}