@import "../../styles/abstract/functions";

.titleBlock {
    position: relative;
    transform: translate(0%, 0%);
    display: flex;
    font-weight: 500;
    font-size: calcVW(48);
    line-height: calcVW(48);
    font-family: 'Beaufort-Medium';
    color: #DEA963;
    column-gap: calcVW(30);
    margin: 0 auto;
    max-width: max-content;
    text-transform: uppercase;
}

.description {
    position: relative;
    transform: translate(-50%, -50%);
    font-size: calcVW(22);
    line-height: calcVW(30);
    font-family: 'Copperplate CC';
    font-weight: 700;
    color: #EDD1AB;
    max-width: calcVW(590);
    margin: 0 auto;
    margin-top: calcVW(20);
    text-align: center;
}

@media (max-width: 768px) {
    .titleBlock {
        font-size: calcVWM(34);
        line-height: calcVWM(34);
        text-align: center;
        margin-top: calcVWM(100);

        .isMobile {
            display: none !important;
        }
    }

    .descriptionBottom {
        margin-top: calcVWM(200);
        font-size: calcVWM(11);
        line-height: calcVWM(16);
        max-width: calcVWM(206);
    }
}