@import "../../styles/abstract/functions";
@import "../../styles/base/variables";

.container {
    overflow: hidden;
    width: calcVW(358);
    height: calcVW(78);
    position: absolute;
    display: flex;
    align-items: center;
    .title {
        color: $black-400;
        text-transform: uppercase;
        font-size: calcVW(22);
        line-height: calcVW(30);
        font-weight: 700;
        width: calcVW(270);
        text-align: center;
        position: relative;
        z-index: 1;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: calcVW(359);
        height: calcVW(78);
    }
}

.right {
    margin-right: auto;
    height: calcVW(78);
    position: relative;
}

.left {
    height: calcVW(78);
    margin-left: auto;
    position: relative;
}