.container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: end;

    .navElement {
        transition: all 0.3s;
        display: flex;
        color: #7C674B;
        font-family: 'Copperplate CC';
        font-weight: 700;
        font-size: 16px;
        line-height: 22.08px;
        column-gap: 25px;
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;

        .round {
            transition: all 0.3s;
            width: 16px;
            height: 16px;
            border: 2px solid #7C674B;
            border-radius: 50%;
        }

        &:hover {
            transition: all 0.3s;
            color: #EDD1AB;

            .round {
                background-image: radial-gradient(#EDD1AB 0%, #785B36 100%);
                box-shadow: 0px 4px 16px -2px rgba(237, 209, 171, 0.5);
            }
        }
    }

    .active {
        transition: all 0.3s;
        color: #EDD1AB;

        .round {
            transition: all 0.3s;
            background-image: radial-gradient(#EDD1AB 0%, #785B36 100%);
            box-shadow: 0px 4px 16px -2px rgba(237, 209, 171, 0.5);
        }
    }
}