@import "../../styles/abstract/functions";

.container {
    display: flex;
    flex-direction: column;
    row-gap: calcVW(25);
    align-items: end;

    .navElement {
        transition: all 0.3s;
        display: flex;
        color: #7C674B;
        font-family: 'Copperplate CC';
        font-weight: 700;
        font-size: calcVW(16);
        line-height: calcVW(22.08);
        column-gap: calcVW(25);
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;

        .round {
            transition: all 0.3s;
            width: calcVW(16);
            height: calcVW(16);
            border: calcVW(2) solid #7C674B;
            border-radius: 50%;
        }

        &:hover {
            transition: all 0.3s;
            color: #EDD1AB;

            .round {
                background-image: radial-gradient(#EDD1AB 0%, #785B36 100%);
                box-shadow: 0 calcVW(4) calcVW(16) calcVW(-2) rgba(237, 209, 171, 0.5);
            }
        }
    }

    .active {
        transition: all 0.3s;
        color: #EDD1AB;

        .round {
            transition: all 0.3s;
            background-image: radial-gradient(#EDD1AB 0%, #785B36 100%);
            box-shadow: 0 calcVW(4) calcVW(16) calcVW(-2) rgba(237, 209, 171, 0.5);
        }
    }
}