@import "../../styles/abstract/functions";
@import "../../styles/base/variables";

.container {
    height: calcVW(694);
    background-color: $black-400;
    padding: calcVW(100) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: calcVW(270);
        height: calcVW(59);
    }

    .fantasy {
        width: calcVW(270);
        height: calcVW(172);
    }

    .socialSites {
        display: flex;
        column-gap: calcVW(24);

        img {
            width: calcVW(48);
            height: calcVW(48);
            cursor: pointer;
        }
    }

    .info {
        @include bold;
        color: $white-400;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: calcVW(8);

        .support {
            display: flex;
            column-gap: calcVW(8);

            a {
                color: $white-400;
                text-decoration: none;
            }
        }
    }

    @media (max-width: 576px) {
        height: calcVWM(406);

        .logo {
            width: calcVWM(184);
            height: calcVWM(41);
        }

        .fantasy {
            width: calcVWM(181);
            height: calcVWM(115);
        }

        .socialSites {
            column-gap: calcVWM(12);

            img {
                width: calcVWM(38);
                height: calcVWM(38);
            }
        }

        .info {
            @include bold-mobile;
            row-gap: calcVWM(8);
            text-align: center;

            .support {
                column-gap: calcVWM(8);
            }

            div {
                &:last-of-type {
                    max-width: calcVWM(230);
                    text-align: center;
                }
            }
        }
    }
}