.container {
    width: 100%;
    height: 100%;
    position: relative;

    .titleBlock {
        width: 409.52px;
        height: 112px;
        margin-top: 100px;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 100%;
            line-height: 48px;
            font-size: 48px;
            font-family: 'Beaufort-Medium';
            font-weight: 500;
            text-transform: uppercase;
            color: #DEA963;
            background: #101825;
            opacity: 0.8;
            border: 2px solid #7C674B;
            border-left: 0;
            border-radius: 0 80px 80px 0;

            img {
                position: absolute;
                right: 0;
                z-index: 1;
            }

            .iconTop {
                top: 0;
            }

            .iconBottom {
                transform: rotate(90deg);
                bottom: 0;
            }
        }
    }

    .map {
        display: flex;
        padding: 80px 0 0 80px;

        .lineBlock {
            overflow: hidden;
        }
        .infoElement {
            width: 358px;

            &:last-of-type {
                margin-left: -33px;
                .oneBlock {
                    &:nth-of-type(1) {
                        margin-top: 130px;
                    }
                    &:nth-of-type(2) {
                        margin-top: 100px;
                    }
                }
                .info {
                    margin-left: 100px;
                }
            }

            &:first-of-type {
                margin-right: -33px;
                .oneBlock {
                    &:nth-of-type(2) {
                        margin-top: 75px;
                    }
                }
            }
        }

        .mainLine {
            margin-top: 17px;
        }
    }
}