@import "../../styles/abstract/functions";
@import "../../styles/base/variables";

.container {
    width: 100%;
    height: 100%;
    padding-top: calcVW(100);

    .submit {
        position: relative;
        width: calcVW(328);
        overflow: hidden;
        margin: calcVW(100) auto 0 auto;

        button {
            width: 100%;
            background-color: $black-400;
            color: $white-400;
            @include header4;
            text-transform: uppercase;
        }
    }

    .inputBlock {
        max-width: calcVW(1126);
        margin: calcVW(100) auto 0 auto;
        display: flex;
        flex-direction: column;
        row-gap: calcVW(44);
    }

    @media (max-width: 576px) {
        padding: calcVWM(16);

        .submit {
            display: none;
        }

        .inputBlock {
            max-width: initial;
            row-gap: calcVWM(40);
            margin-top: calcVWM(32);
        }
    }
}