@import "../../styles/abstract/functions";
@import "../../styles/base/variables";

.particlesBlock {
    height: 100%;
    :global(canvas) {
        min-height: calcVW(300);
        max-height: calcVW(300);
        bottom: calcVW(270);
        top: auto;
        position: absolute;
    }

    @media (max-width) {
        height: calcVWM(568);
        min-height: calcVW(568);
    }
}