@import "../../styles/abstract/functions";

.input {
    height: calcVW(53);
    width: 100%;
    border-radius: calcVW(30);
    display: flex;
    justify-content: space-between;
    border: calcVW(2) solid #7C674B;
    color: #EDD1AB;
    font-size: calcVW(16);
    font-weight: 700;
    font-family: 'Copperplate CC';
    align-items: center;
    padding-left: calcVW(30);
    background: #101825;
    opacity: 0.7;
    position: relative;
    z-index: 1;
    cursor: pointer;

    &:hover {
        transition: 0.3s;
        color: #FFFFFF;
        opacity: 1;
    }

    .vector {
        width: calcVW(53);
        height: calcVW(53);
        border-radius: calcVW(30);
        border: calcVW(2) solid #7C674B;
        margin-right: calcVW(-2);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            transition: 0.8s;
            transform: rotate(45deg);
            width: calcVW(18.9);
            height: calcVW(18.9);
        }
    }
}

.textBlock {
    display: flex;
    margin-top: calcVW(-24);
    position: relative;
    background: linear-gradient(to bottom, #101825, #10182500);
    ;

    .divide {
        width: calcVW(4);
        height: auto;
        opacity: 0.8;
        background: linear-gradient(to bottom, #7C674B, #7C674B30);

        &:first-of-type {
            margin-right: calcVW(20);
        }

        &:last-of-type {
            margin-left: calcVW(20);
        }
    }

    .text {
        padding-top: calcVW(24);
        font-weight: 500;
        font-size: calcVW(16);
        line-height: calcVW(22);
        color: #EDD1AB;
        margin-top: calcVW(20);
    }
}

.active {
    .input {
        opacity: 1;
        color: #FFFFFF;

        .vector {
            img {
                transition: 0.75s;
                transform: rotate(0);
            }
        }
    }
}

@media (max-width: 576px) {
    .input {
        height: calcVWM(44);
        border-radius: calcVWM(30);
        border: calcVWM(2) solid #7C674B;
        font-size: calcVWM(11);
        padding-left: calcVWM(16);

        .vector {
            min-width: calcVWM(44);
            min-height: calcVWM(44);
            border-radius: calcVWM(30);
            border: calcVWM(2) solid #7C674B;
            margin-right: calcVWM(-2);
            margin-left: calcVWM(5);

            img {
                transition: 0.8s;
                transform: rotate(45deg);
                width: calcVWM(14);
                height: calcVWM(14);
            }
        }
    }

    .textBlock {
        margin-top: calcVWM(-24);
        background: linear-gradient(to bottom, #101825, #10182500);

        .divide {
            width: calcVWM(12);

            &:first-of-type {
                margin-right: calcVWM(20);
            }

            &:last-of-type {
                margin-left: calcVWM(20);
            }
        }

        .text {
            padding-top: calcVWM(16);
            font-size: calcVWM(12);
            line-height: calcVWM(16);
            margin-top: calcVWM(20);
        }
    }
}