@font-face {
    font-family: 'Copperplate CC';
    src: url('../public/fonts/CopperplateCC/copperplate-cc.bold.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Beaufort-Medium';
    src: url('../public/fonts/Beaufort/BeaufortforLOL-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CopperplateEF-Bold';
    src: url('../public/fonts/CopperplateEF/CopperplateEF-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CopperplateEF-Medium';
    src: url('../public/fonts/CopperplateEF/CopperplateEF-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
