$beige-400: #EDD1AB;
$beige-300: #EDD1AB75;
$beige-200: #EDD1AB50;
$beige-100: #EDD1AB25;

$gold-400: #DEA963;
$gold-300: #DEA96375;
$gold-200: #DEA96350;
$gold-100: #DEA96325;

$brown-400: #7C674B;
$brown-300: #7C674B75;
$brown-200: #7C674B50;
$brown-100: #7C674B25;

$black-400: #101825;
$black-300: #10182575;
$black-200: #10182550;
$black-100: #10182525;

$white-400: #FFFFFF;

